body {
  background-color: #DBFCFF;
  background-image: url("https://unsplash.com/photos/si5FhVodQW8")
}

p {
  text-align: center;
  font-size: 30px;
  color: #01C2D3;
}

/* li {
  text-align: center;
  list-style: none;
  font-size: 20px;
} */

ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-around;
  width: 100%;
  background: #cacaca;
  margin: 0;
  padding: 0;
}
li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
  background: #fafafa;
}

.header {
  text-align: center;
  color: #4AD1DC;
  font-size: 50px;
}

.div {
  text-align: center;
  font-size: 30px;
  color: #01C2D3;
  
}

.my-div {
  text-align: center;
  padding: 10px;
}

.day {
  color: #01C2D3;  
  font-size: 30px;
  padding-right: 60px;
}

.temp {
  color: #01C2D3;  
  font-size: 30px;
}

.container {
  display: flex;
}

.city {
  font-size: 25px;
  
}

.temp {
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  /* li {
    display: block;
  } */
}